{% extends "home.html" %}
{% block content %}
            <div>
                <form method="POST" action="">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> Try Clicking Some Buttons </legend>
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                            <div class="form-group">
                                {{field.label(class="form-control-label")}}
                                {{field}}
                            </div>
                        {% endfor %}
                </form>
            </div>
{% endblock content %}