{% extends "layout.html" %} 
{% block content %}

<div class="container">
<div class="row">
    <div class="column">
        <h3>Send SMS</h3>
        <p>
        	<a class="nav-item nav-link" href="{{ url_for('sendSMS') }}">Send SMS
        	</a>
        </p>
    </div>
    <div class="column">
        <h3> Send Airtime</h3>
        <p>
        	<a class="nav-item nav-link" href="{{ url_for('sendAirtime') }}">Send Airtime
        	</a>
        </p>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Column 3</h2>
        <p>Some text..</p>
    </div>
</div>
<br>

</div>
<div class="navbar-nav">
    
    <a class="nav-item nav-link" href="{{ url_for('mobilecheckout') }}"> Mobile Checkout</a>
    <a class="nav-item nav-link" href="{{ url_for('mobileB2C') }}">MobileB2C</a>
    <a class="nav-item nav-link" href="{{ url_for('VoiceCall') }}">Voice Call</a>
    <a class="nav-item nav-link" href="{{ url_for('premiumSMS') }}">Premium SMS</a>
</div>
{% endblock content %}